extends adminlayout

append title
  title 后台网站地图生成

block content
   .container
    .row
      .col-md-12
        form.form-horizontal(method="post")
          .form-group
              .col-sm-offset-3.col-sm-8
                button(type="submit").btn.btn-default 生成网站地图txt文件
        .flash-message.container
          .row
            .col-md-12
              - if (success)
                .alert.alert-success= success
                  a.close(href='#', data-dismiss='alert', aria-label='close') ×