extends adminlayout

block content
   .container
    .row
      .col-md-12
        a(href="/18r/tags/add") 添加标签
        table.table.table-bordered
          tr
            th 标签名
            th 操作
          tbody
            each tag in tags
              tr(class="item-id-#{tag._id}")
                td #{tag.tag}
                td 
                  button.btn.btn-danger.tagdel(type="button", data-id="#{tag._id}") 删除