extends layout

append title
  title 登陆账号_bt老司机

block content
  .container
    .row
      .col-md-8.col-md-offset-2
        form.form-horizontal(method="post")
          .form-group
            label.col-sm-3.control-label(for="email") 登陆邮箱
            .col-sm-9
              input#email.form-control(type="text" name="email")
          .form-group
            label.col-sm-3.control-label(for="password") 密码
            .col-sm-9
              input#password.form-control(type="password" name="password")
          .form-group
              .col-sm-offset-2.col-sm-10
                button(type="submit").btn.btn-default 确认登陆
                a(href="/reg").btn.btn-default.toreg 注册