extends layout

append title
  title 发布电影
append head
  meta(name="referrer" content="never")

block content
  .container
    .row
      .col-md-8.col-md-offset-2
        p.text-center 百度网盘链接，有效期限请选择永久，要不然无法通过审核。
        p.text-center 一旦分享，请不要删除分享文件，一旦删除文件，链接就会失效。
        p.text-center 如果是电视剧分集链接，请一行一集。
        p.text-center 如压缩包有解压密码，请一并填写，要不然无法通过审核。
        form.form-horizontal
          .form-group
            label.col-sm-3.control-label(for="douban") 通过豆瓣获取资料
            .col-sm-9
              .input-group
                input#douban.form-control(type="text" name="douban" placeholder="输入豆瓣链接，例如：https://movie.douban.com/subject/25934014/")
                span.input-group-btn
                  button.btn.btn-default.btn-get(type="button") 获取
        form.form-horizontal.form-post(method="post" enctype="multipart/form-data")
          .form-group
            label.col-sm-3.control-label(for="title") 电影名称
            .col-sm-9
              input#title.form-control(type="text" name="title")
          .form-group
            label.col-sm-3.control-label(for="doctor") 导演
            .col-sm-9
              input#doctor.form-control(type="text" name="doctor")
          .form-group
            label.col-sm-3.control-label(for="players") 主演
            .col-sm-9
              input#players.form-control(type="text" name="players")
          .form-group
            label.col-sm-3.control-label(for="country") 制片地区
            .col-sm-9
              input#country.form-control(type="text" name="country")
          .form-group
            label.col-sm-3.control-label(for="year") 上映年份
            .col-sm-9
              input#year.form-control(type="text" name="year" placeholder="输入年份数字，必须为纯数字，比如2000")
          .form-group
            label.col-sm-3.control-label 分类
            .col-sm-9
              each tag in tags
                label.checkbox-inline
                  input.types(type="checkbox" value="#{tag._id}" name="types")
                  | #{tag.tag}
          .form-group
            label.col-sm-3.control-label(for="summary") 剧情简介
            .col-sm-9
              textarea#summary.form-control(rows="6" name="summary")
          .form-group
            label.col-sm-3.control-label(for="img") 海报
            .col-sm-9
              input#img.form-control(type="file" name="img")
              input(type="hidden" name="eimg")
              img.doubanimg
          .form-group
            label.col-sm-3.control-label(for="resources") 下载资源
            .col-sm-9.resources
              .input-group
                input#resources.form-control(type="text" name="resources" placeholder="请输入百度网盘(有效期选择：永久有效),电驴或者磁力链接!")
                span.input-group-btn
                  button.btn.btn-default.addrow(type="button") 增加一行
          .form-group
              .col-sm-offset-2.col-sm-10
                button(type="submit").btn.btn-default.btn-post 发布
