extends layout

append title
  title 注册账号_bt老司机

block content
  .container
    .row
      .col-md-8.col-md-offset-2
        form.form-horizontal(method="post")
          .form-group
            label.col-sm-3.control-label 注册需知
            .col-sm-9
              p.form-control-static 注册之后必须发布一篇电影贴，通过审核才能成为正式会员，定期清除伸手党。
          .form-group
            label.col-sm-3.control-label(for="email") 登陆邮箱
            .col-sm-9
              input#email.form-control(type="text" name="email")
          .form-group
            label.col-sm-3.control-label(for="password") 密码
            .col-sm-9
              input#password.form-control(type="password" name="password")
           .form-group
            label.col-sm-3.control-label(for="password-repeat") 确认密码
            .col-sm-9
              input#password-repeat.form-control(type="password" name="password-repeat")
           .form-group
            label.col-sm-3.control-label(for="name") 昵称
            .col-sm-9
              input#name.form-control(type="text" name="name")
           .form-group
             label.col-sm-3.control-label(for="avatar") 选择一个头像
             .col-sm-9
                label.radio-inline
                   input.types(type="radio" value="1" name="avatar")
                   img(src="/upload/avatar/avatar-1.jpg" width="100" height="100")
                label.radio-inline
                   input.types(type="radio" value="2" name="avatar")
                   img(src="/upload/avatar/avatar-2.jpg" width="100" height="100")
                label.radio-inline
                   input.types(type="radio" value="3" name="avatar")
                   img(src="/upload/avatar/avatar-3.jpg" width="100" height="100") 
                label.radio-inline
                   input.types(type="radio" value="4" name="avatar")
                   img(src="/upload/avatar/avatar-4.jpg" width="100" height="100")
                label.radio-inline
                   input.types(type="radio" value="5" name="avatar")
                   img(src="/upload/avatar/avatar-5.jpg" width="100" height="100") 
                label.radio-inline
                   input.types(type="radio" value="6" name="avatar")
                   img(src="/upload/avatar/avatar-6.jpg" width="100" height="100")
                label.radio-inline
                   input.types(type="radio" value="7" name="avatar")
                   img(src="/upload/avatar/avatar-7.jpg" width="100" height="100")
                label.radio-inline
                   input.types(type="radio" value="8" name="avatar")
                   img(src="/upload/avatar/avatar-8.jpg" width="100" height="100")
                label.radio-inline
                   input.types(type="radio" value="9" name="avatar")
                   img(src="/upload/avatar/avatar-9.jpg" width="100" height="100")
                label.radio-inline
                   input.types(type="radio" value="10" name="avatar")
                   img(src="/upload/avatar/avatar-10.jpg" width="100" height="100")
                label.radio-inline
                   input.types(type="radio" value="11" name="avatar")
                   img(src="/upload/avatar/avatar-11.jpg" width="100" height="100")
                label.radio-inline
                   input.types(type="radio" value="12" name="avatar")
                   img(src="/upload/avatar/avatar-12.jpg" width="100" height="100")
                label.radio-inline
                   input.types(type="radio" value="13" name="avatar")
                   img(src="/upload/avatar/avatar-13.jpg" width="100" height="100")
                label.radio-inline
                   input.types(type="radio" value="14" name="avatar")
                   img(src="/upload/avatar/avatar-14.jpg" width="100" height="100")
                label.radio-inline
                   input.types(type="radio" value="15" name="avatar")
                   img(src="/upload/avatar/avatar-15.jpg" width="100" height="100")
                label.radio-inline
                   input.types(type="radio" value="16" name="avatar")
                   img(src="/upload/avatar/avatar-16.jpg" width="100" height="100")
           .form-group
              label.col-sm-3.control-label(for="signature") 一句话介绍自己
              .col-sm-9
                textarea#signature.form-control(rows="3" name="signature" placeholder="请输入10个字符到55个字符之间的个人介绍") 
          .form-group
              .col-sm-offset-3.col-sm-9
                button(type="submit").btn.btn-default 确认注册