extends layout

append title
  title 电影分类页_bt老司机

append head
  meta(name="keywords" content="电影分类查询")
  meta(name="description" content="bt老司机电影分类查询，可以通过电影分类，电影年份等进行电影检索！")

block content
  .container
    .row
      section.tags.tagsbody.clearfix
        each tag in tags
            .col-md-3
              a.tag(href="/tag/#{tag._id}" title="#{tag.tag}电影大全") #{tag.tag}
