extends layout

append title
  title 电影分类页_bttags

append head
  meta(name="keywords" content="电影分类查询")
  meta(name="description" content="bttags电影分类查询，可以通过电影分类，电影年份等进行电影检索！")

block content
  .container
    .row
      ol.breadcrumb.clearfix
          li
            a(href="/") 首页
          li.active 电影分类
      section.tags.tagsbody.clearfix
        .movie-tags.clearfix
          each tag in tags
              .col-md-3
                a.tag(href="/tag/#{tag._id}" title="#{tag.tag}电影大全") #{tag.tag}
