extends layout

append title
  title 电影专题添加电影_bt老司机

block content
  .container
    .row
      .col-md-8.col-md-offset-2
        form.form-horizontal(method="post")
          .form-group
            label.col-sm-3.control-label(for="topic") 专题名字
            .col-sm-9
              p.form-control-static #{topic.topic}
          .form-group
            label.col-sm-3.control-label(for="movies") 添加电影
            .col-sm-9
              .movie-lists
                span.tip 在下方搜索电影进行添加（若添加无效则是电影已存在）
                input#topic_movies(type="hidden" name="newmovies" value="#{topic.movies}" data-ids="#{topic.movies}")
          .form-group
            .col-sm-9.col-sm-offset-3
              .input-group
                input#movie-title.form-control(type="text" name="movie-title" placeholder="输入电影名搜索")
                span.input-group-btn
                  button.btn.btn-default.search-movie(type="button") 搜索
          .col-sm-9.col-sm-offset-3
            table.table.table-bordered.table-search
          .form-group
              .col-sm-offset-2.col-sm-10
                button(type="submit").btn.btn-default 发布
