extends layout

append title
  title 修改资料_bt老司机

block content
  .container
    .row
      .col-md-8.col-md-offset-2
        form.form-horizontal(method="post")
          .form-group
            label.col-sm-3.control-label(for="name") 昵称
            .col-sm-9
              input#name.form-control(type="text" name="name" value="#{user.name}")
          .form-group
            label.col-sm-3.control-label(for="signature") 签名
            .col-sm-9
              textarea#signature.form-control(rows="3" name="signature" placeholder="请输入10个字符到55个字符之间的个人介绍") #{user.signature}
          .form-group
              .col-sm-offset-2.col-sm-10
                button(type="submit").btn.btn-default 确定修改
