body {
  font: 14px "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
  padding-top:70px;
}

a {
  color: #00B7FF;
}
.tags{
	background:#FAFAFA;
	padding:10px;
}
.tags .tag{
	border:1px solid #f0f0f0;
	border-radius: 4px;
    padding:3px 10px;
    margin:5px;
    float:left;
    text-decoration: none;
}
.tags .tag:hover{
	background:#87B824;
	color:#fff;
}
.tags .current{
	background:#87B824;
	color:#fff;
}
.movie-box {
	margin-bottom:20px;
}
.movie-box h2{
	font-size:16px;
	height:20px;
	overflow: hidden;
}
.movie-box dl{
	overflow: hidden;
	line-height:20px;
	height:20px;
	margin-bottom:10px;
}
.movie-box dt,.movie-box dd{
	float:left;
}
.dtleft{width:25%;}
.ddright{width:75%;}
.movie-box a{
	vertical-align: middle;
	line-height:1.1;
}
.category{
	padding:1px 5px;
	margin-right:5px;
	border-radius: 10px;
	background:#5bc0de;
	color:#fff;
	display:inline-block;
    margin-bottom:5px;
}
.pages{
	text-align:center;
}
.article{margin-bottom:20px;}
.article h1{padding-left:15px;}
.article img{display:block; margin: 0 auto;}
.movie-info {margin-top:20px;font-size:16px;}
.movie-info dd,.movie-info dt{float:left;}
.movie-info dt{ padding-right:15px; }
.summary-hidden{ display:none; }
.avatar{    border: 1px solid #fff;
    display: inline-block;
    overflow: hidden;
    padding:0;
}
.avatar img{
	width:40px;
	height:40px;
}

.user-info{
	margin-bottom:30px;
}
.btn-group{ width:100%; }
.user-info h1{text-align:center;}
.user-info img{display:block;margin: 0 auto;width:150px;height:150px;border-radius:50%;}
.user-info p{text-align:center;}
.btn-group>.btn-do { float:none; }
.author{padding-left:15px;margin-bottom:20px;}
.author img{display:inline-block; vertical-align: middle;margin-right:5px;}
.author span{display:inline-block;vertical-align: middle;}
.author-info{margin-right:15px;}
.form-resource{ margin:5px 0; }
.movie-main{ margin-bottom: 20px; }